@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Tenor+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  h1,
  h2 {
    font-family: 'Tenor Sans', sans-serif;
    color: #31572c;
  }
  p {
    font-family: 'Noto Serif', serif;
  }
}
main {
  display: block;
  margin: auto auto;
  max-width: 400px;
}
.hero {
  color: white;
  margin-bottom: 100px;

  &__img {
    max-width: 100%;
    margin: auto auto;
    position: relative;
  }
  &__heading {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }
  .info {
    position: absolute;
    top: 10%;
    bottom: 60%;
    left: 1%;
    right: 1%;
    margin: 20px;
    margin-top: 0px;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5);
  }
  .cta {
    position: absolute;
    left: 15%;
    right: 15%;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #90a955;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 7px;
  }
}
.tip {
  padding: 20px;
  background-color: #f3ebe1;
  margin-bottom: 20px;
  &__heading {
    margin-bottom: 10px;
    max-width: 300px;
  }

  &__img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 35px;
    box-shadow: 5px 5px 5px black;
  }
  &__par {
    padding: 10px;
    color: black;
  }
  .pro-tip {
    margin-top: 25px;
  }
}

// medium screen
@media screen and (min-width: 375px) {
  body {
    width: 100%;
    h1 {
      font-size: 0.5em;
    }
    h2 {
      font-size: 1.5em;
    }
    p,
    a {
      font-size: 1.15em;
    }
  }
  main {
    max-width: 80%;
    margin: 0 auto;
  }
  .hero {
    &__img {
      display: block;
      margin: 0 auto;
      height: auto;
    }
    &__heading {
      font-size: 2em;
    }
    .info {
      top: 20%;
      bottom: 40%;
      left: 10%;
      right: 10%;
    }
    .cta {
      left: 20%;
      right: 20%;
    }
  }
  .tip {
    &__heading {
      max-width: 600px;
    }
    &__img {
      max-width: 100%;
    }
    &__par {
      max-width: 400px;
      justify-items: center;
    }
  }
}
// large screen
@media screen and (min-width: 1075px) {
  .hero {
    &__heading {
      font-size: 3em;
    }
    .info {
      top: 200px;
      bottom: 30%;
      left: 15%;
      right: 15%;
    }
    .cta {
      left: 35%;
      right: 35%;
      max-width: 300px;
    }
  }
  .tip {
    &__heading {
      max-width: 300px;
    }
    &__img {
      max-width: 550px;
      margin-left: -15px;
    }
    &__par {
      max-width: 375px;
    }
    .special-heading {
      float: right;
    }
    .pub-heading {
      margin-bottom: -50px;
      margin-left: 50px;
    }
    .bike-heading {
      margin-right: 135px;
    }
    .plane,
    .bikes {
      float: right;
      margin-top: -300px;
    }
    .bus {
      float: right;
      margin-top: 20px;
    }
    .publicTransport {
      margin-top: 100px;
    }
    .pro-tip {
      margin-top: 20px;
    }
  }
}
