* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: auto auto;
    max-width: 400px;
}
.hero {
    // background-image: url('../city smog green.jpg');
    color: white;
    
    &__img {
        max-width: 375px;
        position: relative;
    }
    &__heading {
        padding: 5px;
        // width: 100%;
        font-size: 2em;
        position: absolute;
        left: 50px;
        z-index: 1;
    }
}
.tip {
    padding: 15px;
    margin: 20px;
    margin-top: 20px;
    &__img {
        max-width: 200px;
        margin-left: -10px;
        position: relative;
    }
    &__par {
        background-color: rgb(84, 104, 84);
        padding: 10px;
        color: white;
        position: absolute;
        margin-top: -150px;
        margin-left: 90px;
        z-index: 1;
    }
    &__par:nth-child(2) {
        margin-top: 30px;
    }
}
.publicTransport {
    margin-top: -75px;
}
.bikes {
    margin-top: 100px;

}

footer {
    background-color: grey;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 150px 100px 1fr;
    a {
        color: white;
        font-weight: bold;
    }
    .info {
        grid-column: 2/4;
        grid-row: 1/2;
        margin-bottom: 20px;
    }
    .names {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .sources {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

@media screen and (min-width:375px){
    body {
        max-width: 100%;
        background-color: #c4bfa2;
    }
   
    .hero {
        //margin-top: -20px;
        &__img {
           display: none;
        }
        &__heading {
            position: relative;
            color: black;
            max-width: 90%;
            //margin-top: -20px;
           // margin-bottom: 800px;
        }
    }
    .tip {
       // margin-top: 200px;
        &__img {
            width: 600px;
        }
        &__par {
            width: 350px;
        }
    }
}

@media screen and (min-width:622px){

}