main {
  max-width: 80%;
  margin: 0 auto;

  #hero {
    .info {
      top: 60%;
      bottom: 20%;
      left: 30%;
      right: 30%;
    }
    img {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .livestock {
    img {
      float: right;
      width: 50%;
      margin-left: 20px;
    }
  }
  .land {
    img {
      float: left;
      width: 50%;
      margin-right: 20px;
    }
  }
  .actions {
    #carousel {
      display: block;
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $tan;
        li {
          background-color: $green-4;
          height: 150px;
          display: block;
          margin: 10px;
        }
      }
      #left {
        display: none;
      }
      #right {
        display: none;
      }
    }
  }
}
