body {
  max-width: 100%;
  width: 100%;
}

main {
  section {
    max-width: 90%;
    margin: 0 auto;
  }
  .livestock {
    img {
      float: right;
      width: 50%;
      padding-left: 10px;
    }
  }
  .land {
    img {
      float: left;
      width: 50%;
      padding-right: 10px;
    }
  }
  #carousel {
    display: block;
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        display: block;
        margin: 10px;
      }
    }
    #left {
      display: none;
    }
    #right {
      display: none;
    }
  }
}

.clear-fix::after {
  clear: both;
  content: '';
  display: table;
}
