body {
  max-width: 100%;
  width: 100%;
}

main {
  max-width: 80%;
  margin: 0 auto;

  #hero {
    .info {
      top: 40%;
      bottom: 30%;
    }
    img {
      box-shadow: none;
      border-radius: 0;
    }
  }
  .livestock {
    img {
      float: right;
      width: 50%;
      margin-left: 10px;
    }
  }
  .land {
    img {
      float: left;
      width: 50%;
      margin-right: 10px;
    }
  }
  .actions {
    #carousel {
      display: block;
      ul {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background-color: $tan;
        li {
          height: 170px;
          display: block;
          margin: 10px;
          background-color: #eaeaea;
        }
        li:nth-of-type(1) {
          grid-column: 4/10;
          grid-row: 1;
        }
        li:nth-of-type(2) {
          grid-column: 1/7;
          grid-row: 2;
        }
        li:nth-of-type(3) {
          grid-column: 7/13;
          grid-row: 2;
        }
      }
      #left {
        display: none;
      }
      #right {
        display: none;
      }
    }
  }
}

.clear-fix::after {
  clear: both;
  content: '';
  display: table;
}
