body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
  }
  font-family: $body-font;
}

main {
  h1 {
    text-align: center;
    background-color: $green-1;
    color: $tan-2;
    padding: 10px 0;
    margin-bottom: 0;
  }
  section {
    padding: 50px 20px;
  }
  .livestock {
    background-color: $green-4;
  }
  .land {
    background-color: $green-2;
    color: $tan-2;
  }
  h2 {
    margin-top: 0;
    padding: 30px 0 0 0;
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
  .actions {
    background-color: $tan-2;
    #carousel {
      position: relative;
      text-align: center;
      ul {
        padding: 20px;
        margin: 20px 0;
        background-color: $green-3;
        li {
          background-color: #eaeaea;
          padding: 20px 25px;
        }
      }
      #left {
        position: absolute;
        bottom: -1px;
        left: 30%;
      }
      #right {
        position: absolute;
        bottom: -1px;
        right: 30%;
      }
    }
  }
}
