body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
  }
  font-family: $body-font;
}

main {
  img {
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000, -4px -4px 4px #000000;
  }
  h1 {
    text-align: center;
    background-color: $green-1;
    color: $tan;
    padding: 10px 0;
    margin-bottom: 0;
  }
  section {
    padding: 50px 20px;
  }
  .livestock {
    background-color: $green-4;
  }
  .land {
    background-color: $green-2;
    color: $tan;
  }
  h2 {
    margin-top: 0;
    padding: 30px 0 0 0;
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
  .actions {
    background-color: $tan;
    #carousel {
      width: 100%;
      position: relative;
      text-align: center;
      ul {
        padding: 20px;
        margin: 20px 0;
        background-color: #eaeaea;

        li {
          height: 150px;
          padding: 20px 25px;
        }
      }
      #left {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 0;
      }
      #left:hover,
      #right:hover {
        background-color: darkgray;
      }
      #right {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        right: 0;
      }
    }
  }
}
