@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Noto+Serif&display=swap');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: '“' '”' '‘' '’';
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Tenor Sans', sans-serif;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

main img {
  border-radius: 35px;
  -webkit-box-shadow: 5px 5px 5px #000000;
  box-shadow: 5px 5px 5px #000000;
}

main h1 {
  text-align: center;
  color: #f3ebe1;
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid white;
}

main section {
  padding: 50px 20px;
}

main .livestock {
  background-color: #90a955;
}

main .land {
  background-color: #31572c;
  color: #f3ebe1;
}

main h2 {
  margin-top: 0;
  padding: 30px 0 0 0;
  text-align: center;
}

main p {
  margin-bottom: 0;
}

main img {
  width: 100%;
}

main #hero {
  padding: 20px 0px;
}

main #hero img {
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

main #hero .info {
  position: absolute;
  top: 15%;
  bottom: 55%;
  right: 15%;
  left: 15%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

main #hero .info .cta-button {
  text-decoration: none;
  background-color: #90a955;
  color: black;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  border: 3px solid black;
  margin: auto;
  border-radius: 7px;
}

main #hero .info h2 {
  padding-top: 0px;
  margin-top: 10px;
  text-align: center;
}

main #hero .info p {
  display: none;
}

main .actions {
  background-color: #f3ebe1;
}

main .actions h3 {
  text-align: center;
}

main .actions #carousel {
  width: 100%;
  position: relative;
  text-align: center;
}

main .actions #carousel ul {
  padding: 20px;
  margin: 20px 0;
  background-color: #90a955;
}

main .actions #carousel ul li {
  height: 150px;
  padding: 20px 25px;
}

main .actions #carousel #left {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 0;
}

main .actions #carousel #left:hover,
main .actions #carousel #right:hover {
  background-color: darkgray;
}

main .actions #carousel #right {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 100%;
    width: 100%;
  }
  main {
    max-width: 80%;
    margin: 0 auto;
  }
  main #hero .info {
    top: 25%;
    bottom: 40%;
  }
  main #hero .info p {
    display: block;
    padding: 10px 10px 0 10px;
    margin-bottom: 25px;
  }
  main #hero img {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
  main .livestock img {
    float: right;
    width: 50%;
    margin-left: 10px;
  }
  main .land img {
    float: left;
    width: 50%;
    margin-right: 10px;
  }
  main .actions #carousel {
    display: block;
  }
  main .actions #carousel ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [12];
    grid-template-columns: repeat(12, 1fr);
    background-color: #f3ebe1;
  }
  main .actions #carousel ul li {
    height: 170px;
    display: block;
    margin: 10px;
    background-color: #eaeaea;
  }
  main .actions #carousel ul li:nth-of-type(1) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  main .actions #carousel ul li:nth-of-type(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main .actions #carousel ul li:nth-of-type(3) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main .actions #carousel #left {
    display: none;
  }
  main .actions #carousel #right {
    display: none;
  }
  .clear-fix::after {
    clear: both;
    content: '';
    display: table;
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 80%;
    margin: 0 auto;
  }
  main #hero .info {
    top: 35%;
    bottom: 30%;
    left: 30%;
    right: 30%;
  }
  main #hero .info p {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
  }
  main #hero img {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
  main .livestock img {
    float: right;
    width: 50%;
    margin-left: 20px;
  }
  main .land img {
    float: left;
    width: 50%;
    margin-right: 20px;
  }
  main .actions #carousel {
    display: block;
  }
  main .actions #carousel ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    background-color: #f3ebe1;
  }
  main .actions #carousel ul li {
    background-color: #90a955;
    height: 150px;
    display: block;
    margin: 10px;
  }
  main .actions #carousel #left {
    display: none;
  }
  main .actions #carousel #right {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */
